#about {
  width: 75vw;
  margin: 0 auto;
}

#profile {
  height: 300px;
  border-radius: 50%;
}

#about-box {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

#intro {
  max-width: 500px;
}
