/* #google-contact {
  width: 640px;
  height: 60vh;
} */

#contact-name {
  grid-area: name;
}

#contact-company {
  grid-area: company;
}

#contact-email {
  grid-area: email;
}

#contact-phone {
  grid-area: phone;
}

#contact-message {
  grid-area: message;
  align-self: stretch;
}

#contact-submit {
  grid-area: submit;
}

#contact-form {
  background-color: #6495ed;
  padding: 10px;
  border-radius: 10px;
  border: solid 5px #ffffff;
  margin: 0 auto;
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "name name name name company company company company"
    "email email email email phone phone phone phone"
    "message message message message message message message message"
    "message message message message message message message message"
    "message message message message message message message message"
    ". . . submit submit . . .";
  row-gap: 5px;
}

@media screen and (max-width: 500px) {
  #contact-form {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
      "name name name"
      "company company company"
      "email email email"
      "phone phone phone"
      "message message message"
      "message message message"
      "message message message"
      ". submit .";
    row-gap: 5px;
  }
}
