main {
  margin-top: 70px;
  margin-bottom: 50px;
  /* background: content-box linear-gradient(to bottom left, red, black);
  background-size: 100vw 100vh;
  background-attachment: fixed; */
}

.screen-title {
  font-family: "Gentium Book Basic", serif;
}

.sub-title {
  /* font-family: "Langar", cursive; */
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #ffffff40;
}

.body-text {
  color: #ffffff;
  /* background-color: rgba(00, 00, 00, 0.5);
  max-width: 60vw;
  margin: 0 auto; */
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.3);
}
