footer {
  width: 100vw;
  height: 40px;
  position: fixed;
  bottom: 0;
  background-color: #8963ba;
}

.icon {
  height: 20px;
}

#footbox {
  display: flex;
  width: 70vw;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

/* #footbox > p {
  color: unset;
  background-color: unset;
  font-size: unset;
  max-width: unset;
  margin: unset;
} */
