footer {
  width: 100vw;
  height: 40px;
  position: fixed;
  bottom: 0;
  background-color: #8963ba;
}

.icon {
  height: 20px;
}

.foot-text {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: bold;
}

#footbox {
  display: flex;
  width: 70vw;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
