#tubes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 80px;
  max-width: 90vw;
  margin: 0 auto;
  margin-bottom: 100px;
  height: 55vw;
}

.vid {
  width: 95%;
  height: 95%;
}

@media screen and (max-width: 900px) {
  #tubes {
    grid-template-columns: repeat(1, 1fr);
    height: 240vw;
  }
}
